@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$font-family: 'Roboto', sans-serif;
.parent {
    margin-top: 100px;
    padding: 12px;
}

.parent p{
    padding: 15px;
}
.parent h1 {
    position: absolute;
    font-size: 1.4em;
    top: 10%;
    left: 35%;
    color: rgb(50, 50, 47);
    font-family: $font-family;
    font-weight: 700;
    text-shadow:1px 3px 7px #585757;
}
@media only screen and (min-width: 768px) {
    .parent {
        margin-top: 160px;
    }
    .parent h1 {
        font-size: 2em;
        top: 10%;
        left: 40%;
    }
    .parent p{
        padding: 20px;
        font-size: 1.4em;
    }
}
@media only screen and (min-width: 1024px) {
    .parent {
        margin-top: 200px;
        padding: 80px;
    }
    .parent h1 {
        font-size: 2.5em;
    }
    .parent p{
        padding: 30px;
        font-size: 2em;
    }
}

@media only screen and (min-width: 1025px) {
.parent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr;
    margin-top:80px;
    padding: 120px;
    grid-template-areas: "flexandrelax-div1 flexandrelax-div2" "strength-div4 strength-div3" "aerobic-div5 aerobic-div6";
  }
  
  .flexandrelax-div1 { grid-area: flexandrelax-div1;}

  .flexandrelax-div2 { grid-area: flexandrelax-div2; }
  
  .strength-div4 { grid-area: strength-div4; }
  
  .strength-div3 { grid-area: strength-div3; }
  
  .aerobic-div5 { grid-area: aerobic-div5; }
  
  .aerobic-div6 { grid-area: aerobic-div6; }

.parent img:hover {
    opacity:0.7 !important;
    filter:alpha(opacity=70) !important; /* For IE8 and earlier */
    box-shadow: 0 0 0px 
}
.parent p{
    font-family: $font-family;
    font-size: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 70px;
    width: 100%;
    letter-spacing: 0.1em;
    font-weight: 550;
    text-shadow:1px 2px 5px #b1a9a9;
    
}
.parent h1 {
    font-size: 2em;
    letter-spacing: 0.2em;
    top: 20%;
    left: 43%;
}
}