.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    .flexandrelaxdiv1 { grid-area: 1 / 1 / 2 / 2; }
    .flexandrelaxdiv2 { grid-area: 1 / 2 / 2 / 3; }
    .strengthdiv3 { grid-area: 2 / 1 / 3 / 2; }
    .strengthdiv4 { grid-area: 2 / 2 / 3 / 3; }
    .aerobicdiv5 { grid-area: 3 / 1 / 4 / 2; }
    .aerobicdiv6 { grid-area: 3 / 2 / 4 / 3; }

.parent img {
    border-style: none;
    align-items: center;
    width: 0;
    padding: 0;
    width: 400px;
    height: 300px;
}

.parent p{
    letter-spacing: 0.3em;
    font-stretch: expanded;
}

