
.parent {
    margin-top: 37px;
    padding: 12px;
}

.parent p{
    padding: 15px;
    letter-spacing: 0.2em;
}


@media only screen and (min-width: 1000px) {
.parent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr;
    margin-top:70px;
    padding: 120px;
    grid-template-areas: "flexandrelax-div1 flexandrelax-div2" "strength-div4 strength-div3" "aerobic-div5 aerobic-div6";
  }
  
  .flexandrelax-div1 { grid-area: flexandrelax-div1; }
  
  .flexandrelax-div2 { grid-area: flexandrelax-div2; }
  
  .strength-div4 { grid-area: strength-div4; }
  
  .strength-div3 { grid-area: strength-div3; }
  
  .aerobic-div5 { grid-area: aerobic-div5; }
  
  .aerobic-div6 { grid-area: aerobic-div6; }

.parent p{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    padding: 70px;
    width: 100%;
    letter-spacing: 0.2em;
    font-stretch: expanded;
}
// .parent h1 {
//     position: absolute;
//     color:white;
//     top: 60%;
//     left:20%;
//     letter-spacing: 0.2em;
//         word-spacing: 0.5em;
//         font-size: 1.5em;
//         text-shadow:0px 2px 2px #000000;

// }

}